@import "../../../assets/scss/var_mixin_func";
.writerTotal {
  margin-top: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #fff;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    fill: $--color-primary;
  }
  span {
    margin: 0 5px;
    color: $--color-primary;
  }
}
.writerList {
  padding: 0 15px;
  background-color: #fff;
}
.writerItem {
  border: 1px solid #d2d2d2;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.writerLink {
  display: flex;
  padding: 8px;
}
.writerCover {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  font-size: 12px;
  color: #999;
  border-radius: 35px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.writerBody {
  flex: 1;
  font-size: 12px;
  color: #999;
  overflow: hidden;
}
.nickname {
  margin-bottom: 5px;
  font-size: 14px;
  color: $--color-primary;
}
.browseNumber {
  margin-bottom: 5px;
  span {
    margin-left: 5px;
    color: #333;
  }
}
.signature {
  height: 32px;
  @include multi-Line-omit;
}
